 ------
 Introduction
 ------
 Brian Matthews
 ------
 2016-05-07
 ------

~~ Copyright 2008-2016 Brian Thomas Matthews
~~
~~ Licensed under the Apache License, Version 2.0 (the "License");
~~ you may not use this file except in compliance with the License.
~~ You may obtain a copy of the License at
~~
~~     http://www.apache.org/licenses/LICENSE-2.0
~~
~~ Unless required by applicable law or agreed to in writing, software
~~ distributed under the License is distributed on an "AS IS" BASIS,
~~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~~ See the License for the specific language governing permissions and
~~ limitations under the License.


LDAP Maven Plugin

  This plugin provides the goals to:

  * Load records into or dump records from an LDAP directory. Records can be dumped to
    {{{http://en.wikipedia.org/wiki/LDIF}LDIF}} or
    {{{http://en.wikipedia.org/wiki/Directory_Service_Markup_Language}DSML}} formats.

  * Launch and shutdown one of the following embedded directory server within the Maven build life-cycle:

    * {{{http://directory.apache.org/apacheds/}ApacheDS}}

    * {{{http://opendj.forgerock.org/}OpenDJ}}

    * {{{https://www.unboundid.com/products/directory-server.php}UnboundID}}


* Goals Overview

~~  General Information about the goals.

  * {{{./ldap-maven-plugin/load-mojo.html}ldap:load}} Load directory entries from DSML or LDIF format.

  * {{{./ldap-maven-plugin/dump-mojo.html}ldap:dump}} Dump directory entries to DSML LDIF format.

  * {{{./ldap-maven-plugin/run-mojo.html}ldap:run}} Run an embedded ApacheDS server.

  * {{{./ldap-maven-plugin/stop-mojo.html}ldap:stop}} Stop an embedded ApacheDS server.

* Usage

  Instructions on how to use the LDAP Maven Plugin can be found {{{./ldap-maven-plugin/usage.html}here}}.

* Examples

  To provide you with better understanding of some usages of the LDAP
  Maven Plugin, you can take a look into the following examples:

  * {{{./examples/ldif-load.html}Load entries from LDIF file}}
  
  * {{{./examples/ldif-dump.html}Dump entries to LDIF file}}

  * {{{./examples/dsml-load.html}Load entries from DSML file}}
  
  * {{{./examples/dsml-dump.html}Dump entries to DSML file}}

  * {{{./examples/integration.html}Using the embedded LDAP directory server for integration testing}}
